<h1>Viewing Party Lite</h1>
<%if !session[:user_id]%>
  <%= button_to "Log In", '/login', method: :get%>
<%elsif session[:user_id]%>
  <%= button_to "Log Out", '/login', method: :delete%>
<%end%>

<div class = "new_user">
  <%= button_to "Register New User", register_path, method: :get %>
</div>

<div class = "existing_users">
<%if @session_user%>
  <h2>Existing Users</h2>
    <%@users.each do |user|%>
      <div id= "user_names-<%=user.id%>">
        <%=user.email%>
      </div>  
    <%end%>
  <%end%>
</div>
