<h1>Viewing Party Lite</h1>

<div class = "new_user">
  <% if current_user %> 
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= link_to "Log in", login_path %>
    <%= button_to "Register New User", register_path, method: :get %>
  <% end %>
</div>

<div class = "existing_users">
  <h2>Existing Users</h2>
  <%@users.each do |user|%>
  <div id= "user_names-<%=user.id%>">
    <%= link_to user.name, "/users/#{user.id}" %>
    <%end%>
  </div>  
</div>
